.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  border: 2px solid #aaa;
  padding: 8px;
  font: inherit;
  color: white;
  background-color: green;
}

.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button.red {
  background-color: red;
}
.Button.red:hover {
  background-color: rgb(233, 125, 125);
  color: black;
}
